<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated carpilot -->
      <package
            uri="http://www.example.org/carpilot"
            class="unice.epu.carpilot.ecore.carpilot.CarpilotPackage"
            genModel="model/carpilot.genmodel"/>
   </extension>

</plugin>
